127.0.0.1       localhost.localdomain   localhost
{{ galera_mariadb_node_1_ip }}      {{ galera_mariadb_node_1_hostname }}
{{ galera_mariadb_node_2_ip }}      {{ galera_mariadb_node_2_hostname }}
{{ galera_mariadb_node_3_ip }}      {{ galera_mariadb_node_3_hostname }}